.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 1%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navigationBar {
    display: flex;
}

.navigationBar a {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-family: 'Playwrite GB S', sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    justify-content: space-between;
}

.navigationBar a:last-child {
    font-size: 24px;
}

.menu-icon {
    display: flex;
    color: white;
    font-size: 24px;
}

.logo {
    color: white;
    font-family: 'Playwrite GB S', sans-serif;
    font-size: 20px;
    margin-left: 70px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}