.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #690303;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.menu-title {
    font-size: 18px;
    margin-left: 5px;
    font-family: "Playwrite GB S", sans-serif;
}

input[type='checkbox'] {
    transform: scale(1.75);
    margin-left: 5px;
}

.side-menu.open {
    left: 0;
}

.side-menu-indicator {
    position: fixed;
    top: 0;
    left: -40px;
    width: 50px;
    height: 100%;
    background-color: #690303;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
}

.side-menu.closed .side-menu-indicator {
    left: 0;
}

.side-menu.open .side-menu-indicator {
    left: -250px;
}

.side-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 15px;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 20px;
    margin-left: 135px;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.category-select {
    width: 100%;
    padding: 16px;
    height: 35px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #ccc;
}

label {
    color: white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 17px;
    font-family: "Playwrite GB S", sans-serif;
}