.App {
    display: flex;
    background: #f7f7f7;
}

.content {
    margin-top: 50px;
    margin-left: 32px;
    padding: 30px;
    overflow-y: auto;
}

.content h1 {
    margin-left: 18px;
    margin-top: 5px;
    font-family: "Playwrite GB S", sans-serif;
}